{% extends 'base.html' %}

{% block title %}Chi Siamo{% endblock %}

{% block content %}

<div class="help-section">
    <div class="help-category">
        <h3>Account & Ordini</h3>
        <h4>Cambia indirizzo di consegna</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>

        <h4>Cambia e-mail o numero di telefono</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>

        <h4>Controlla lo stato del tuo ordine</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>
    </div>

    <div class="help-category">
        <h3>Spedizione e Consegna</h3>
        <h4>Tempi di consegna</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>

        <h4>Ho ricevuto l'articolo sbagliato</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>

        <h4>Ho ricevuto un articolo danneggiato</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>
    </div>

    <div class="help-category">
        <h3>Resi e Rimborsi</h3>
        <h4>Come posso restituire un articolo?</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>

        <h4>Articoli e servizi esclusi dalla politica di reso</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>

        <h4>Posso cambiare un articolo?</h4>
        <p>Quisque sed tincidunt diam. Curabitur tristique metus nec risus sodales ultrices. Curabitur bibendum consequat odio, sit amet ullamcorper tellus consectetur non. Aliquam maximus bibendum lorem ac faucibus. Sed ut tortor quis tortor hendrerit semper. Donec posuere tristique hendrerit. Vestibulum feugiat maximus pellentesque. Cras malesuada erat at varius ornare.</p>
    </div>

    <div class="help-contact">
    <table>
        <tr>
            <td>Chiamaci o scrivici una mail</td>
        </tr>
    </table>
    <p>Lun-Ven: 10:00-18:00<br>Sab: 10:00-16:00</p>
</div>
</div>

{% endblock %}

