{% extends "base.html" %}

{% block content %}
<h2>Nuova Password</h2>
<form method="POST" action="{{ url_for('auth.reset_password_token', token=token) }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="Inserisci la nuova password") }}
        {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control", placeholder="Conferma la nuova password") }}
        {% for error in form.confirm_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-reset-password">Reset Password</button>
</form>
{% endblock %}
