{% extends 'base.html' %}

{% block title %}Termini di Vendita{% endblock %}

{% block content %}
<div class="terms-container">
<h1>Termini di Servizio</h1>

<h2>Accettazione dei Termini</h2>
<p>Sed sapien orci, malesuada a fringilla eu, egestas nec enim. Nam consequat enim augue, at efficitur elit dignissim at. Ut venenatis tincidunt felis. Donec quis ultrices enim. Praesent sit amet ligula metus. Nunc et massa vel nulla commodo viverra. Integer ut venenatis nunc. Pellentesque malesuada, ligula eget sollicitudin elementum, orci libero tincidunt arcu, vulputate ultricies odio ex quis neque. Cras nisl ipsum, porta nec eros at, suscipit tincidunt justo. In eget dapibus felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

<h2>Modifiche ai Termini</h2>
<p>Sed sapien orci, malesuada a fringilla eu, egestas nec enim. Nam consequat enim augue, at efficitur elit dignissim at. Ut venenatis tincidunt felis. Donec quis ultrices enim. Praesent sit amet ligula metus. Nunc et massa vel nulla commodo viverra. Integer ut venenatis nunc. Pellentesque malesuada, ligula eget sollicitudin elementum, orci libero tincidunt arcu, vulputate ultricies odio ex quis neque. Cras nisl ipsum, porta nec eros at, suscipit tincidunt justo. In eget dapibus felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

<h2>Prodotti e Servizi</h2>
<p>Sed volutpat erat nunc, sed consequat neque dictum in. Maecenas dapibus vestibulum leo, at congue ante rhoncus eu. Cras volutpat a justo finibus pulvinar. Proin odio lorem, vehicula vitae feugiat et, porttitor ac diam. Nulla tellus justo, finibus at magna eget, maximus dapibus nulla. Nulla ante ligula, consequat eu turpis vitae, iaculis tristique leo. Donec luctus erat ut pellentesque feugiat. Vestibulum vel mattis ligula, quis pellentesque purus. Quisque eu risus nec justo cursus ornare. Fusce vel ultricies ante. Mauris rhoncus dui ut quam pharetra, sit amet ultrices nisl lobortis. Cras euismod lacus ut ex pulvinar posuere.</p>

<h2>Responsabilità</h2>
<p>Sed volutpat erat nunc, sed consequat neque dictum in. Maecenas dapibus vestibulum leo, at congue ante rhoncus eu. Cras volutpat a justo finibus pulvinar. Proin odio lorem, vehicula vitae feugiat et, porttitor ac diam. Nulla tellus justo, finibus at magna eget, maximus dapibus nulla. Nulla ante ligula, consequat eu turpis vitae, iaculis tristique leo. Donec luctus erat ut pellentesque feugiat. Vestibulum vel mattis ligula, quis pellentesque purus. Quisque eu risus nec justo cursus ornare. Fusce vel ultricies ante. Mauris rhoncus dui ut quam pharetra, sit amet ultrices nisl lobortis. Cras euismod lacus ut ex pulvinar posuere.</p>

<h2>Legge Applicabile</h2>
<p>Sed volutpat erat nunc, sed consequat neque dictum in. Maecenas dapibus vestibulum leo, at congue ante rhoncus eu. Cras volutpat a justo finibus pulvinar. Proin odio lorem, vehicula vitae feugiat et, porttitor ac diam. Nulla tellus justo, finibus at magna eget, maximus dapibus nulla. Nulla ante ligula, consequat eu turpis vitae, iaculis tristique leo. Donec luctus erat ut pellentesque feugiat. Vestibulum vel mattis ligula, quis pellentesque purus. Quisque eu risus nec justo cursus ornare. Fusce vel ultricies ante. Mauris rhoncus dui ut quam pharetra, sit amet ultrices nisl lobortis. Cras euismod lacus ut ex pulvinar posuere.</p>
</div>

{% endblock %}